{% extends "base.html" %}
{% block content %}
    
    <h2>{{ page_title }}</h2>
    <p>
        Everton and Everton in the Community are increasing activity on their ‘Blue Family’ campaign in response to the latest
        national lockdown.
        
        ‘Blue Family’, first launched in March 2020, is a coordinated engagement campaign that maintains contact with fans and
        participants and provides vital support and assistance to some of the most vulnerable, socially isolated, and at-risk
        members of the community during the ongoing pandemic.
        
        In the past 10 months, the campaign has directly supported more than 27,000 vulnerable and at-risk families, made almost
        25,000 check-in and welfare calls, delivered in excess of 14,000 emergency food parcels and provided more than 250,000
        meals for school children, participants and local residents - as well as delivering bespoke online content consumed by
        millions across the world, aimed at keeping people connected.
        
        And, following news earlier this month of a return to a full national lockdown across the UK, the Club and its charity
        are further stepping up the ‘Blue Family’ efforts.
    </p>

    {% for member in company %}

        <div class="row featurette">
            <div class="col-md-7">
                <h3>{{ member.name }}</h3>
                    <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>
        </div>

        <hr class="featurette-divider">

    {% endfor %}

    

    
    
{% endblock %}